<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons"/>
    <title>Wallets</title>
</head>
<body>


    <div id="app" class="container">

        <div class="md-layout md-gutter">
            <div class="md-layout-item row">
                <md-field class="col s12 m12 l12">
                    <label for="currencies">Currencies</label>
                    <md-select v-model="selectedCurrency" name="currencies" id="currencies">
                        <md-option v-for="currency in currencies" v-bind:value="currency">
                            {{ currency }}
                        </md-option>
                    </md-select>
                </md-field>
            </div>



        </div>

        <md-list class="collection row">
            <md-list-item v-for="wallet in wallets" class="collection-item md-list-item-text col s12 m12 l12"
                          v-if="wallet.currencies.indexOf(selectedCurrency) > -1">
                <img v-bind:src="wallet.icon"/>
                <p>{{ wallet.name }}</p>
                <a v-bind:href="wallet.url" target="_blank">Pay</a>
            </md-list-item>
        </md-list>

    </div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script>

    var wallets = [
        { id: 1, name: 'Guarda', icon: 'img/guarda_wallet.jpg', url: 'https://guarda.co/app',
            currencies: ['ETH', 'BCH', 'BTC', 'QTCM', 'LTC', 'BTG', 'SBTC', 'DCT', 'BTS', 'ERC20', 'CLO', 'ZEC', 'XRP', 'DOGE', 'DASH']},
        { id: 2, name: 'myEther', icon: 'img/myetherwallet.png', url: 'https://www.myetherwallet.com/',
            currencies: ['ETH', 'ERC20']},
        { id: 3, name: 'Luno', icon: 'img/luno.png', url: 'https://www.luno.com/en/signup',
            currencies: ['ETH', 'BTC']},
        { id: 4, name: 'Blockchain Wallet', icon: 'img/blockchain.png', url: 'https://blockchain.info/wallet/#/login',
            currencies: ['BTC', 'BCH', 'ETH']},
        { id: 5, name: 'BitPanda', icon: 'img/bitpanda.jpg', url: 'https://www.bitpanda.com/users/login',
            currencies: ['BTC', 'ETH', 'LTC', 'DASH', 'XRP', 'BCH']},
        { id: 6, name: 'BTC Wallet', icon: 'img/btccom.png', url: 'https://wallet.btc.com/#/setup/login',
            currencies: ['BCH', 'BTC']},
        { id: 7, name: 'Block.io Wallet', icon: 'img/blockio.png', url: 'https://block.io/users/sign_in',
            currencies: ['BTC', 'LTC', 'DOGE']},
        { id: 8, name: 'Bitforx Wallet', icon: 'img/bitforx_wallet.png', url: 'https://bitforx.com/users/sign_in',
            currencies: ['BTC']},
        { id: 9, name: 'Holy Transaction', icon: 'img/holytransaction.png', url: 'https://holytransaction.com/app#!/signin',
            currencies: ['BTC', 'LTC', 'DOGE', 'DASH', 'ETH', 'DCR', 'ZEC', 'SYS', 'FAIR', 'GAME', 'PPC', 'GRC', 'BLK']},
        { id: 10, name: 'EtherLi Waller', icon: 'img/etherli_wallet.png', url: 'https://www.ether.li/login',
            currencies: ['ETH']},
        { id: 11, name: 'Lumi Wallet', icon: 'img/lumiwallet.png', url: 'https://web.lumiwallet.com/auth',
            currencies: ['BTC', 'ETH', 'ERC20']},
        { id: 12, name: 'Bonpay', icon: 'img/bonpay.png', url: 'https://my.bonpay.com/',
            currencies: ['BTC']},
        { id: 13, name: 'Coinfy Wallet', icon: 'img/coinfy.png', url: 'https://coinfy.com/',
            currencies: ['BTC', 'ETH', 'ZRX', 'ANT', 'REP', 'BAT', 'BNB', 'EOS', 'ETHOS', 'FUN', 'GNT', 'KNC', 'MKR', 'OMG', 'QASH', 'QTUM', 'REQ', 'SALT', 'SNT', 'TRX']},
        { id: 14, name: 'Bitwala', icon: 'img/bitwala.png', url: 'https://my.bitwala.com/login',
            currencies: ['BTC']},
        { id: 15, name: 'LiteVault', icon: 'img/litevault.png', url: 'https://www.litevault.net/wallet/login',
            currencies: ['LTC']},
        { id: 16, name: 'WageCan Wallet', icon: 'img/wagecan.png', url: 'https://www.wagecan.com/',
            currencies: ['BTC']},
        { id: 17, name: 'SingularDTV Light Wallet', icon: 'img/sngls.png', url: 'https://wallet.singulardtv.com/lightwallet#',
            currencies: ['ETH', 'SNGLS']},
        { id: 18, name: 'Counterwallet', icon: 'img/xcp.png', url: 'https://counterwallet.io/',
            currencies: ['BTC', 'XCP', 'BCY', 'FLDC', 'STORJ', 'SWM']},
        { id: 19, name: 'Exarpy Wallet', icon: 'img/exarpy.png', url: 'https://exarpy.com/login',
            currencies: ['XRP']},
        { id: 20, name: 'DogeChain', icon: 'img/doge.png', url: 'https://my.dogechain.info/#/overview',
            currencies: ['DOGE']},
        { id: 21, name: 'iPayYou', icon: 'img/ipayyou.png', url: 'https://wallet.ipayyou.io/Login',
            currencies: ['BTC']},
        { id: 22, name: 'Bitgo Wallet', icon: 'img/bitgo.png', url: 'https://www.bitgo.com/login',
            currencies: ['BTC', 'BCH', 'BTG', 'XRP', 'LTC', 'ETH']},
        { id: 23, name: 'Unocoin', icon: 'img/unocoin.png', url: 'https://www.unocoin.com/signin',
            currencies: ['BTC']},
        { id: 24, name: 'Stellarport', icon: 'img/stellarportwallet.png', url: 'https://portal.stellarport.io/login/keystore-file',
            currencies: ['XLM']},
        { id: 25, name: 'OpenLedger', icon: 'img/openledger-blue.png', url: 'https://bitshares.openledger.info/',
            currencies: ['BTS']},
        { id: 26, name: 'ArcBit', icon: 'img/arcbit.png', url: 'https://arcbit.io/',
            currencies: ['BTC']},
        { id: 27, name: 'SpectroCoin', icon: 'img/spectrocoin.png', url: 'https://spectrocoin.com/en/login.html',
            currencies: ['BTC', 'ETH', 'NEM', 'DASH']},
        { id: 28, name: 'CoinCorner', icon: 'img/coincorner.png', url: 'https://www.coincorner.com/Login',
            currencies: ['BTC']},
        { id: 29, name: 'Green Address', icon: 'img/green-address.png', url: 'https://chrome.google.com/webstore/detail/greenaddress/dgbimgjoijjemhdamicmljbncacfndmp?utm_source=inline-install-disabled',
            currencies: ['BTC']},
        { id: 30, name: 'OmniWallet', icon: 'img/omni.png', url: 'https://www.omniwallet.org/',
            currencies: ['BTC', 'OMNI']},
        { id: 31, name: 'CoinSpot', icon: 'img/coinspotau.png', url: 'https://www.coinspot.com.au/login',
            currencies: ['BTC', 'LTC', 'DOGE', 'DASH', 'ETH', 'BCH', 'XRP', 'NEO', 'XEM', 'XMR', 'ETC', 'IOT', 'QTUM', 'OMG', 'ZEC', 'LSK', 'USDT', 'XLM', 'EOS', 'WAVES', 'BCN', 'STRAT', 'KMD', 'STEEM', 'ARDR', 'ARK', 'REP', 'VTC', 'GNT', 'PAY', 'MAID', 'BAT', 'KNC', 'PIVX', 'SALT', 'FCT', 'GAME', 'SC', 'CVC', 'MTL', 'XVG', 'DGB', 'FUN', 'NXS', 'NXT', 'MCO', 'BQX', 'ZVC', 'ADX', 'RISE', 'RDD', 'PPC', 'ENG', 'SAFEX', 'LBC', 'POWR', 'BTG']},
        { id: 32, name: 'Coinbase Wallet', icon: 'img/coinbase.png', url: 'https://www.coinbase.com/join',
            currencies: ['BTC', 'ETH', 'LTC', 'ETC', 'BCH']},
        { id: 33, name: 'Cryptonator', icon: 'img/cryptonator.png', url: 'https://www.cryptonator.com/auth/signin/',
            currencies: ['LTC', 'BTC', 'BLK', 'DOGE', 'XPY', 'PPC', 'RDD', 'VTC', 'DASH', 'XPM', 'EMC', 'ZEC', 'BCH', 'BCN', 'ETH', 'ETC', 'XMR', 'XRP']},
        { id: 34, name: 'CoinVault', icon: 'img/coinvault.png', url: 'https://www.coinvault.io/Account/Login',
            currencies: ['BTC', 'LTC', 'DASH', 'DOGE', 'GRC', 'NMC', 'PPC', 'QRK', 'RDD', 'TRC', 'XPM', 'CRX', 'STRAT', 'ARG', 'DLC', 'MTR', 'GB', 'SH', 'UBIQ', 'ZYD', 'ODN', 'LBRTS']},
        { id: 35, name: 'WageCan Wallet', icon: 'img/wagecan.png', url: 'https://www.wagecan.com/',
            currencies: ['BTC']},
        { id: 36, name: 'Circle Bitcoin Wallet', icon: 'img/circle-bitcoin-wallet.png', url: 'https://www.circle.com/signin',
            currencies: ['BTC']},
        { id: 37, name: 'Xapo Wallet', icon: 'img/xapo.png', url: 'https://account.xapo.com/',
            currencies: ['BTC']},
        { id: 38, name: 'Gatehub', icon: 'img/gatehub.png', url: 'https://signin.gatehub.net/',
            currencies: ['BTC', 'XRP', 'ETH', 'ETC', 'REP']},
        { id: 39, name: 'MyMonero Wallet', icon: 'img/mymonero.png', url: 'https://mymonero.com/#/',
            currencies: ['XMR']},
        { id: 40, name: 'NEVERDIE Wallet', icon: 'img/neverdie_wallet.png', url: 'https://neverdie.io/wallet.html',
            currencies: ['ETH']},
        { id: 41, name: 'Noku Wallet', icon: 'img/noku.png', url: 'https://wallet.noku.io/',
            currencies: ['ETH']},
        { id: 42, name: 'Akchex Wallet', icon: 'img/axche.jpg', url: 'https://akche.io/',
            currencies: ['WAVES']},
        { id: 43, name: 'FrostByte Wallet', icon: 'img/frostbyte.png', url: 'https://www.frostbytewallet.io/',
            currencies: ['ETH', 'ERC20']},
        { id: 44, name: 'Poseidon Web Wallet', icon: 'img/psd.jpg', url: 'https://www.poseidonwallet.com/',
            currencies: ['PSD']},
        { id: 45, name: 'PotWallet', icon: 'img/potwallet.png', url: 'https://potwallet.com/login',
            currencies: ['POT']},
        { id: 46, name: 'vSlice Web Wallet', icon: 'img/vslice.jpg', url: 'https://token.vdice.io/',
            currencies: ['VSL', 'ETH', 'ETC']},
        { id: 47, name: 'Sato Wallet', icon: 'img/sato-wallet.jpg', url: 'https://satowallet.com/',
            currencies: ['BTC', 'ETH', 'LTC', 'ZEC', 'ETC', 'XMR', 'DASH']},
        { id: 48, name: 'Coinapult Wallet', icon: 'img/coinapult-bitcoin-wallet.png', url: 'https://coinapult.com/login',
            currencies: ['BTC']},
        { id: 49, name: 'Toast Wallet', icon: 'img/toast_wallet.jpg', url: 'https://toastwallet.com/',
            currencies: ['XRP']},
        { id: 50, name: 'Bitinka', icon: 'img/bitinka.jpg', url: 'https://bitinka.pe/pe/bitinka/login',
            currencies: ['BTC', 'ETH', 'LTC', 'XRP']},
        { id: 51, name: 'Unboxcoin Wallet', icon: 'img/unboxcoin.png', url: 'https://unboxcoin.com/',
            currencies: ['BTC']},
        { id: 52, name: 'VirtaCoinWallet', icon: 'img/vta.png', url: 'https://virtacoinwallet.eu/shopping/Shop/login.php',
            currencies: ['VTA']},
        { id: 53, name: 'MyCrypto', icon: 'img/mycrypto.png', url: 'https://mycrypto.com/#generate-wallet',
            currencies: ['ETH', 'ERC20']},
        { id: 54, name: 'Wirex Wallet', icon: 'img/wirex.png', url: 'https://app.wirexapp.com/log-in',
            currencies: ['BTC']},
        { id: 55, name: 'ZCash Cockpit UI Wallet', icon: 'img/zec.png', url: 'https://github.com/hellcatz/zcash-cli-cockpit',
            currencies: ['ZEC']},
        { id: 56, name: 'NEO Tracker Wallet', icon: 'img/neotracker_wallet.jpg', url: 'https://neotracker.io/wallet',
            currencies: ['NEO', 'GAS']},
        { id: 57, name: 'Zumminer', icon: 'img/zumminer.png', url: 'https://zumminer.com/',
            currencies: ['BTC', 'ETH', 'DASH', 'ZEC', 'LTC']},
        { id: 58, name: 'Rutheneum', icon: 'img/rht.jpg', url: 'https://wallet.rutheneum.com/account/login',
            currencies: ['RHT']}
    ]

    var allCurrencies = [];

    for(var i = 0; i < wallets.length; i++){
        $.merge(allCurrencies, wallets[i].currencies);
        $.unique(allCurrencies);
    }

    Vue.use(VueMaterial.default)

    var app = new Vue({
        el: '#app',
        data: {
            selectedCurrency: null,
            wallets: wallets,
            currencies: allCurrencies
        }
    })
</script>
</body>

</html>